$pure-white: #FFFFFF;
$little-darken-white: #F5F5F5;
$nav-white-color: #FAFAFA;

$pure-dark: #000000;
$main-accent-color: #80DEEA;
$secondary-accent-color: #0288D1;

$gray-color: #BDBDBD;
$newsletter-background: #455A64;
$button-gray-background: #607D8B;

$preparing-status-color: #FFEB3B;
$done-status-color: #76FF03;