@import "~/assets/scss/mixins.scss";

.footer-content {
  background: $pure-white;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
}

.content {
  .breadcrumb {
    @media screen and(min-width: 768px) {
      font-size: 17px;
    }

    @media screen and(min-width: 992px) {
      font-size: 18px;
    }

    @media screen and(min-width: 1200px) {
      font-size: 21px;
    }

    font-size: 15px;
  }

  .breadcrumb .breadcrumb-item {
    color: $gray-color;

    a {
      text-decoration: none;
    }
  }

  h1 {
    @include header();
    @media screen and(min-width: 992px) {
      font-size: 40px;
      text-align: left;
    }

    @media screen and(min-width: 1200px) {
      font-size: 60px;
    }

    @media screen and(min-width: 1200px) {
      font-size: 70px;
    }

    font-size: 32px;
    margin-top: 40px;
    text-align: center;
  }

  h2 {
    @include header();
    @media screen and(min-width: 992px) {
      font-size: 35px;
    }

    @media screen and(min-width: 1200px) {
      font-size: 42px;
    }

    font-size: 30px;
  }

  h3 {
    @include header();
    @media screen and(min-width: 992px) {
      font-size: 27px;
    }
    @media screen and(min-width: 1200px) {
      font-size: 35px;
    }

    font-size: 26px;
  }

  p {
    @include description(0.005em, 1.5, justify, 15px);
    @media screen and(min-width: 992px) {
      font-size: 18px;
    }
    @media screen and(min-width: 1200px) {
      font-size: 20px;
    }

    color: darken($gray-color, 20%);
  }

  img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  }

  pre {
    padding: 10px 15px;
    background-color: #37474f;
    border-radius: 5px;
  }

  code {
    @media screen and(min-width: 992px) {
      font-size: 16px;
    }

    @media screen and(min-width: 1200px) {
      font-size: 18px;
    }

    color: #bdbdbd;
    font-family: Poppins, sans-serif;
    font-weight: 600;
  }
}
