// =========================================================================
// 3. Buttons / Forms mixins
// =========================================================================

// Button mixin
@mixin button($buttonType: 'primary') {
	@if $buttonType == 'primary' {
		background: none;
	}

	@if $buttonType == 'secondary' {
		background: #80deea;
	}

	@if $buttonType == 'gray' {
		background: #607d8b;
		border: 2px solid #607d8b;
	}

	text-decoration: none;
	padding: 12px 20px;
	border: 2px solid #80deea;
	border-radius: 3px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

@mixin input($padding: 10px 15px) {
	padding: $padding;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 0.0025em;
	line-height: 146.5%;
	outline: none;
	border: 1px solid $gray-color;
	background: none;
	border-radius: 5px;
}
