// =========================================================================
// 5. Other mixins  
// =========================================================================

// Divider mixin
@mixin divider() {
	width: 86px;
	height: 0;
	border: 4px solid #80deea;
}
