form#newsletter-form(data-aos="flip-up" data-aos-delay="55")
  input(type="text" placeholder="Na który adres email?" autocomplete="email")

  .save-to-newsletter-action
    div
    button.button-gray(type="submit") Zapisz mnie!