.about-me-section__left-side(data-aos="fade-up")
  img#me_avatar.about-me-section__avatar(
		src="@/assets/me.png"
		alt="Bartosz Pazdur Avatar")
  .about-me-section__right-side
    p.about-me-section__description
      | Cześć! Jestem Bartosz Pazdur. Mam 23 lata, moim życiowym celem w chwili obecnej jest niesienie pomocy ludziom, 
      | którzy nie znają się na bezpieczeństwie sieciowym a troszczą się o swoich bliskich. 
      | Dlatego też, jestem Twórcą wpisów na facebooku pod hashtagiem #StaySecure. 
      | Ponadto, zajmuję się tworzeniem oraz rozwijaniem stron internetowych, projektów poświęconych automatyzacji i nie tylko
    .material-icons__wrapper
      a(href="https://www.facebook.com/bartosz.pazdur.1/" target="_blank" title="Obserwuj mnie na facebooku")
        span.material-icons
          | facebook
      a(href="https://github.com/BrittleHeart" title="Moje konto na github'ie")
        span.material-icons
          img(src="/github.svg", alt="github icon")
    a.button-secondary(href="mailto: b.pazdur@yahoo.com") Skontaktuj się