ul.my-skills-list(data-aos="fade-left")
  li.skills-list__item(v-for="skill in skills")
    .skill_info(:key="skill.id")
      span {{ skill.name }}
      span {{ skill.percentage }}%
    .skill-border
      .skill-progress(:data-percentage="skill.percentage")